.addproduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  h1 {
    margin-bottom: 20px;
  }
  .formbox {
    border: solid 1px #111;
    padding: 4vh 3vw;
    border-radius: 10px;
    box-shadow: 0 4px 12px #919191;
    form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 25px;
    }
    input,
    select {
      padding: 2vh 1vw;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 8px;
      &:focus {
        outline: none;
        border-color: #4caf50;
        box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
      }
      &::placeholder {
        color: #111;
      }
    }

    button {
      grid-column: 1 / -1;
      width: fit-content;
      justify-self: center;
      font-size: 18px;
      padding: 1vh 1vw;
      background-color: #4caf50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }
    button:hover {
      background-color: #45a049;
    }
  }
}
