.cart-container{
  min-height: 83.5vh;
  .cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 2vw;
    font-size: 24px;
    font-weight: bold;
    color: #222;
  } 
  .cart-grid {
  
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 2vh;
  padding: 2vh 2vw;
  .cart-item {
    display: flex;
    gap: 2vw;
    background-color: #444;
    padding: 1.5rem;
    border-radius: 8px;
    color: white;
    img {
      width: 150px;
      height: 150px;
      object-fit: contain;
    }
    .quantity {
      display: flex;
      align-items: center;
      gap: 0.5vw;
      font-size: 16px;
    }
    .item-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1vh;
      h2 {
        margin: 0;
      }
      .item-actions {
        display: flex;
        gap: 1vw;
        button {
          background-color: #ffcc00;
          border: none;
          padding: 1vh 1vw;
          cursor: pointer;
          border-radius: 8px;
          font-size: 16px;
        }
      }
    }
  }
}
}
@media screen and (max-width: 1000px) {
  .cart-container {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}
@media screen and (max-width: 800px) {
  .cart-container {
    grid-template-columns: 1fr;
  }
}
