.category-header {
  background-color: #333;
  color: white;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3vh 0;
    border-bottom: 2px solid #555;

    li {
      cursor: pointer;
      font-weight: bold;
      transition: color 0.3s ease;

      &:hover {
        color: #ffcc00;
        text-decoration: underline;
      }
    }
    .active {
      color: #ffcc00;
      text-decoration: underline;
    }
  }
}

.prod-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2vw;
  padding: 2rem;
}
.prod-card {
  background-color: #444;
  color: white;
  padding: 1.5rem;
  border-radius: 8px;
  text-align: center;
  img {
    width: 100%;
    height: 25vh;
    object-fit: contain;
    margin-bottom: 2vh;
  }
  h1 {
    font-size: 20px;
    margin-bottom: 2vh;
  }
  h2 {
    font-size: 18px;
    margin-bottom: 1.5vh;
  }
  .desc{
    overflow: auto;
    width: 100%;
    height: 25vh;
    &::-webkit-scrollbar { display: none; }
  }
  p {
    font-size: 16px;
    color: #ddd;
    text-align: justify;
  }
  .btns {
    padding: 2vh 1vw;
    button {
      background-color: #ffcc00;
      border: none;
      padding: 2vh 1vw;
      cursor: pointer;
      border-radius: 8px;
      margin: 0 1vh;
      font-size: 16px;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
}
