.contactus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 83.5vh;
  font-size: 16px;

  h1 {
    color: #333;
    margin-bottom: 25px;
  }

  .contactgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    max-width: 900px;

    .info {
      padding: 15px;
      border-radius: 5px;
      background: #ffffff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

      h2 {
        margin-top: 0;
        color: #555;
      }

      span {
        display: block;
        font-weight: 600;
        margin-top: 10px;
        color: #333;
      }

      a {
        color: #1a73e8;
        text-decoration: none;
        font-size: 14px;

        &:hover {
          text-decoration: underline;
        }
      }

      address {
        font-style: normal;
        font-size: 16px;
        color: #666;
      }

      p {
        margin-top: 10px;
        color: #777;
      }
    }

    .form {
      padding: 15px;
      border-radius: 5px;
      background: #ffffff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

      form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        input,
        textarea {
          width: 100%;
          padding: 10px;
          border-radius: 4px;
          border: 1px solid #ccc;
          outline: none;
          font-size: 16px;

          &:focus {
            border-color: #1a73e8;
            box-shadow: 0 0 3px rgba(26, 115, 232, 0.5);
          }
          &::placeholder {
            color: #111;
          }
        }

        textarea {
          min-height: 100px;
          resize: none;
        }

        button {
          background: #1a73e8;
          color: #fff;
          padding: 10px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-size: 16px;
          transition: all 0.3s ease;

          &:hover {
            background: #1558b0;
            transform: scale(1.05);
          }
          &:active {
            transform: scale(0.95);
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .contactgrid {
      grid-template-columns: 1fr;
    }
  }
}
