.landing-page {
  text-align: center;

  .hero {
    background-color: #667eea;
    color: white;
    padding: 60px 20px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 36px;
      margin-bottom: 4vh;
    }

    p {
      font-size: 18px;
      margin-bottom: 4vh;
    }

    .buttons {

      .btn {
        padding: 10px 20px;
        margin: 5px;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        display: inline-block;

        &.primary {
          background-color: #ffcc00;
          color: black;
        }

        &.secondary {
          border: 2px solid white;
          color: white;
        }
      }
    }
  }

  .features {
    padding: 40px 20px;
    background-color: #f2f2f2;

    h2 {
      margin-bottom: 30px;
    }
    .feature-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }

    .feature-box {
      background-color: white;
      padding: 20px;
      margin: 10px auto;
      max-width: 400px;
      border-radius: 5px;

      h3 {
        color: #667eea;
        margin-bottom: 5px;
      }

      p {
        color: #555;
      }
    }
  }

  @media (max-width: 768px) {
    .hero {
      h1 {
        font-size: 24px;
      }
    }
  }
}
