.navbar {
  background-color: #333;
  padding: 2vh 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span{
    color: #ffcc00;
    font-weight: bold;
    font-size: 1.5rem;
  }
  ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap: 4vw;
    li {
      display: inline;
      .active{
        text-decoration: underline;
        color: #ffcc00;
      }
      a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        outline: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
